configuration {
	// theme: "~/.config/rofi/themes/dmenu.rasi";
	theme: "/usr/share/rofi/themes/gruvbox-dark.rasi";
	show-icons: true;
    icon-theme: "Papirus";
    terminal: "/usr/bin/alacritty";
    modi: "window,drun,run,keys,filebrowser,ssh";
}
